<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.exz.xugaung.activity">

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"></uses-permission>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <!--=================极光推送===============================-->
    <!-- Required -->
    <permission
        android:name="cn.exz.xugaung.activity.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="cn.exz.xugaung.activity.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>


    <!--=======================分享==========================-->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>

    <application
        android:name=".app.MyAppclication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">

        <activity android:name=".BootPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DiaLogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme_Dialog"/>


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <!--登录-->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"/>

        <!--设置-->
        <activity
            android:name=".SttingActivity"
            android:screenOrientation="portrait"/>
        <!--修改密码-->
        <activity
            android:name=".AlterPasswordActivity"
            android:screenOrientation="portrait"/>

        <!--意见反馈-->
        <activity
            android:name=".FeedBackActivity"
            android:screenOrientation="portrait"/>

        <!--个人信息-->
        <activity
            android:name=".UserInfoActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!--车辆信息-->
        <activity
            android:name=".CarInfoActivity"
            android:screenOrientation="portrait"/>

        <!--注册-->
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>

        <!--忘记密码-->
        <activity
            android:name=".ForgetPasswordActivity"
            android:screenOrientation="portrait"/>

        <!--验证手机号码-->
        <activity
            android:name=".VerifyPhoneActivity"
            android:screenOrientation="portrait"/>

        <!--车辆资料-->
        <activity
            android:name=".AddCarActivity"
            android:screenOrientation="portrait"/>


        <!--司机信息-->
        <activity
            android:name=".DriverInfoActivity"
            android:screenOrientation="portrait"/>

        <!--完善信息-->
        <activity
            android:name=".FilInfoActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--立即出发-->
        <activity
            android:name=".StartOffActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <!--选择车辆-->
        <activity
            android:name=".SelectCarActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>


        <!--到达目的地-->
        <activity
            android:name=".ArriveActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <!--订单详情-->
        <activity
            android:name=".OrderDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>


        <!--订单详情-->
        <activity
            android:name=".adapter.WebActivity"
            android:screenOrientation="portrait"/>
        <!--公告消息-->
        <activity
            android:name=".AfficheInfoActivity"
            android:screenOrientation="portrait"/>

        <!--新闻头条-->
        <activity
            android:name=".NesTopActivity"
            android:screenOrientation="portrait"/>
        <!--使用工具-->
        <activity
            android:name=".ToolActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"/>


        <!-- =============================分享============================================= -->
        <!-- 微信分享回调 -->
        <!-- 微信分享回调 -->
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--============极光推送=========================-->
        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"></activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="cn.exz.xugaung.activity"/>
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="cn.exz.xugaung.activity"/>
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>   <!--Required  显示通知栏 -->
                <category android:name="cn.exz.xugaung.activity"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".utils.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="cn.exz.xugaung.activity"/>
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="5eff65ba3c0e524a893f2b65"/> <!--  </>值来自开发者平台取得的AppKey-->
        App Indexing. See https://g.co/AppIndexing/AndroidStudio for more information. -->

        <!--   <service
               android:name="com.baidu.location.f"
               android:enabled="true"
               android:process=":remote">
               <intent-filter>
                   <action android:name="com.baidu.location.service_v2.2"></action>
               </intent-filter>
           </service>
           <meta-data
               android:name="com.baidu.lbsapi.API_KEY"
               android:value="33rjNsiT8Bz1jd1sHBE8SIGcahMKTwxj" />  http://lbsyun.baidu.com/apiconsole/key-->
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fd62df4167bbed50aacfc03d581f88c9"/>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>

        <service
            android:name=".app.LocalService"
            />
        <service
            android:name=".app.RectifyRemoteService"
            />
    </application>

</manifest>